.table {
 
}
.blues {
  background-color: navy;
  color: white;
  cursor: pointer;
}

.greens {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}

.reds {
  background-color: red;
  color: red!important;
  cursor: pointer;
}

.blacks {
  background-color: black;
  color: black!important;
  cursor: pointer;
}

.zeros {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  color: white;
  text-align: center;
}


.cella  {
  width: 45px;
  height: 45px;
  font-size: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.chip-container-cella {
  line-height: 45px;
  text-align: center;
}

.bordo {
  background-color: green;
  width: 6px;
  max-width: 6px;
  height: 45px;
  font-size:12px;
  color: green;
  cursor: pointer;
  margin-left: -6px
}

.bordo .chip {
  margin-left: -8px;
}

.chip-container-bordo {
  line-height: 45px;
  position: relative;
}

.bordo:hover {
  background-color: yellow;
  color: yellow;
}
.bordo-h {
  background-color: green;
  height: 6px;
  max-height: 6px;
  width: 45px;
  font-size:2px;
  color: green;
  cursor: pointer;
}

.bordo-h .chip {
  margin-top: -6px;
  margin-left: 12px;
}

.chip-container-bordo-h {
  line-height: 6px;
  position: relative;
}

.bordo-h:hover {
  background-color: yellow;
  color: yellow;
}

.list-group-item:hover,
.list-group-item:focus {
  padding: 10px!important;
  color: black;
  background-color: orange!important;
  text-align: center;
}

.red {
  background-color: red!important;
}

.black {
  background-color: black!important;
}

ul {
  margin: 0!important;
}


