.table {
 
}
.blues {
  background-color: navy;
  color: white;
  cursor: pointer;
}

.greens {
  background-color: darkgreen;
  color: white;
  cursor: pointer;
}

.greens:hover {
  background-color: greenyellow;
  color: black;
}

.reds {
  background-color: red;
  color: red!important;
  cursor: pointer;
}

.blacks {
  background-color: black;
  color: black!important;
  cursor: pointer;
}

.cella  {
  width: 45px!important;
  height: 45px!important;
  font-size: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.chip-container-cella {
  line-height: 45px;
  text-align: center;
}

.cella-z  {
  width: 45px!important;
  height: 76px!important;
  font-size: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
  clip-path: polygon(100% 0, 50% 0, 0 50%, 50% 100%, 100% 100%);
  -webkit-clip-path:  polygon(100% 0, 50% 0, 0 50%, 50% 100%, 100% 100%);

}

.chip-container-cella-z {
  line-height: 76px;
  text-align: center;
}

.bordo {
  background-color: green;
  width: 6px;
  max-width: 6px;
  height: 45px;
  font-size:12px;
  color: green;
  cursor: pointer;
}

.bordo .chip {
  margin-left: -8px;
}

.chip-container-bordo {
  line-height: 45px;
  position: relative;
}

.bordo:hover {
  background-color: yellow;
  color: yellow;
}
.bordo-h {
  background-color: green;
  height: 6px;
  max-height: 6px;
  width: 45px!important;
  font-size:2px;
  color: green;
  cursor: pointer;
}

.bordo-h .chip {
  margin-top: -6px;
  margin-left: 12px;
}

.chip-container-bordo-h {
  line-height: 6px;
  position: relative;
}

.bordo-h:hover {
  background-color: yellow;
  color: yellow;
}

.space {
  width: 6px;
  height: 6px;
}

.list-group-item:hover,
.list-group-item:focus {
  padding: 10px!important;
  color: black;
  background-color: orange!important;
  text-align: center;
}



.red {
  background-color: red!important;
}

.black {
  background-color: black!important;
}

ul {
  margin: 0!important;
}


