.numbox {
  width: 44px;
  height: 44px;
  padding:0!important;
  text-align: center;
}

.list-group-item {
  padding: 10px!important;
  color: white;
  border: 2px solid;
  border-image: radial-gradient(rgb(0,143,104), rgb(250,224,66)) 1;
  text-align: center;
  cursor: pointer;
  background: black;
}

.bets {
  color: #f1c876;
}

.verdict {
  font-family: "Kaushan Script", "corsive";
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
}